h1{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
h2{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
.content{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 100px;
}
#phead{
  padding: 20px 0;
}
#userList{
  padding: 20px 0;
  color: darkgrey;
 
}
#HWSets{
  font-family: 'Times New Roman', Times, serif;
}
div.inputBox{
  width: 750px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}
div.project2{
  width: 1000px;
  height: 100px;
  border: 2px solid black
}
div.project3{
  width: 1000px;
  height: 100px;
  border: 2px solid black
}
